<%= simple_form_for(@order, :html => {:class => 'form-horizontal' }) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <h4>What type of order is this?</h4>
      <%= f.check_box :order_type %>
    </div>
    <div>
      <h4>Name this order.</h4>
      <%= f.text_field :title %>
    </div>
    <div>
      <h4>Order Due Date</h4>
      <%= f.date_select :due_date %>
    </div>
    <div>
      <h4>What location is being printed?</h4>
      <%= f.check_box :print_location %>
    </div>
    <div>
      <h4>What colors are being printed?</h4>
      <%= f.text_area :print_color %>
    </div>
    <div>
      <h4>Additional Comments:</h4>
      <%= f.text_area :comments %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
